<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add plane</title>
</head>
<body>
<h1>Add plane</h1>
<form action="/planes/add" method="post">
    <label>
        <input type="number" name="id" placeholder="id" class="form-control">
        <input type="text" name="description" placeholder="description" class="form-control">
        <input type="number" name="maxSpeed" placeholder="maxSpeed" class="form-control">
    </label>
    <button type="submit">Add</button>
</form>
</body>
</html>